@import "tailwindcss";
@import "primeicons/primeicons.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-item {
  @apply text-blue-500 hover:text-blue-900 duration-300 text-3xl font-semibold text-shadow-lg text-shadow-teal-800;
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  @apply flex flex-col border-2 rounded-lg border-gray-600 h-12 text-xl text-black cursor-pointer bg-amber-100 hover:bg-amber-200 duration-300;
}

.button {
  @apply flex flex-col border-2 rounded-lg border-gray-600 h-12 text-xl text-black cursor-pointer bg-amber-100 hover:bg-amber-200 duration-300;
}

.select {
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23666' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0px center;
  background-size: 20px;
}

.card {
  padding: 2em;
}

input {
  @apply border-2 rounded-lg border-blue-300 h-12 text-xl text-black m-2 p-2 focus:outline-none focus:ring focus:ring-blue-500;
}

li {
  @apply text-blue-500 hover:text-blue-900 duration-300 text-2xl;
}

#app {
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
